rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /snapshots/round1/{teamId}/{memberFolder}/{fileName} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /{allPaths=**} {
      allow read: if true;
    }
  }
}
